h1{
  text-align: center;
  leitor-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 2px, 2px, 4px purple;
}
h2{ 
  text-align: right;
  word-spacing: 10px;
  text-decoration: capitalize;
  text-decoration-line: overline;
  }
#parágrafo1
<p text-ident: 30px;
  text-align: justify;
  line-height: 1.8px;
  text-decoration-line: underline;
  text-decoration-line: dashed;
  text-decoration-thickness: noticiable;
</p>

  
